body {
    background-color: rgb(188, 180, 169);
}

.customh1 {
    text-align: center;
    color: rgb(114, 114, 201);
}

.customMargin {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.textLorem {
    color: aliceblue;
}

.alertaValorNegativo {
    background-color: goldenrod;
    color: blue;
    font-size: 30px;
}